<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="description" content="Prática de desenvolvimento web">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript">
        <meta name="author" content="Igor Vinícius Santos Abreu">
    </head>

    <body>
        <h1> Bem vindo a tela de <%= title %></h1> 
        <table>
            <tr>
                <td>Chave</td>
                <td>Valor</td>
                <td>Deletar</td>
            </tr>
            <tr>
                <td>Teste1</td>
                <td>Teste2</td>
                <td>Teste3</td>
            </tr>
        </table>
    </body> 

</html>